$type-face: "Montserrat", sans-serif;
$regular: 400;
$bold: 500;
$bolder: 700;

$xs: 10px;
$sm: 12px;
$md: 13px;
$lg: 14px;
$xl: 18px;
$xxl: 24px;
$huge: 96px;

$sm--desktop: 14px;
$md--desktop: 18px;
$lg--desktop: 24px;
$xl--desktop: 36px;
$xxl--desktop: 48px;
$huge--desktop: 288px;
