@use "./base/colors" as clr;
@use "./base/fonts" as txt;
@import "./base/normalize.css";

$marges-sm: 20px;
$marges--desktop-x--md: 100px;
$marges--desktop-x--sm: 50px;
$marges--desktop-y: 40px;

$radius: 10px;
$radius--desktop: 25px;

$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1040px;
$bp-xl: 1280px;
$bp-xxl: 1536px;

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

body {
	font-family: txt.$type-face;
	font-weight: txt.$regular;
	color: clr.$primary;
	background: clr.$secondary;
}

.main-home,
.main-about,
.header {
	margin-top: 16px;
	margin-inline: $marges-sm;
	@media screen and (min-width: $bp-md) {
		margin-top: $marges--desktop-y;
		margin-inline: $marges--desktop-x--sm;
	}
	@media screen and (min-width: $bp-lg) {
		margin-inline: $marges--desktop-x--md;
	}
}

a {
	text-decoration: underline;

	&:visited {
		color: clr.$primary;
	}
}

//region Component
.responsive-line-break {
	display: block;
	@media screen and (min-width: $bp-lg) {
		display: inline;
	}
}

//endregion

//region Header-Component
.header {
	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__items {
			display: flex;
			gap: 10px;
			@media screen and (min-width: $bp-md) {
				gap: 57px;
			}
		}
	}

	.logo {
		width: 145px;
		@media screen and (min-width: $bp-md) {
			width: 210px;
		}

		path {
			fill: clr.$primary;
		}
	}

	a {
		font-size: txt.$sm;
		font-weight: txt.$bold;
		text-decoration: none;
		text-transform: uppercase;

		color: clr.$primary;

		&.active {
			text-decoration: underline; // todo underline when not on Hom page ?
		}

		@media screen and (min-width: $bp-md) {
			font-size: txt.$lg--desktop;
		}
		// todo hover
	}
}

//endregion

//region Footer-Component
.footer {
	display: flex;
	align-items: center;
	flex-flow: nowrap;
	flex-direction: column;
	height: 209px;
	background: clr.$dark;
	gap: 30px;
	padding-block: 62px;
	@media screen and (min-width: $bp-lg) {
		padding-block: 66px;
		gap: 47px;
	}

	p {
		font-size: txt.$sm;
		font-weight: txt.$bold;
		color: clr.$secondary;
		@media screen and (min-width: $bp-md) {
			font-size: txt.$lg--desktop;
		}
	}

	.logo {
		width: 122px;

		path {
			fill: clr.$secondary;
		}
	}
}

//endregion

//region Main-Home
.main-home {
	@media screen and (min-width: $bp-lg) {
		margin-top: 63px;
	}

	//region Banner
	.banner {
		position: relative;
		overflow: hidden;
		height: 111px;
		border-radius: $radius;

		@media screen and (min-width: $bp-lg) {
			display: grid;
			height: 223px;
			border-radius: $radius--desktop;
			place-content: center;
		}

		.bg {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-color: #000;
			background-image: url("/src/assets/home-banner-mobile.png");
			background-position: {
				x: center;
				y: 49%;
			}
			background-clip: border-box;
			background-origin: border-box;
			background-size: cover;

			@media screen and (min-width: $bp-sm) {
				background-image: url("/src/assets/home-banner-desktop.png");
				background-position: {
					x: center;
					y: 43.5%;
				}
			}

			&:before {
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				content: " ";
				opacity: 30%;
				background: #000; // todo regler le filtre
				//mix-blend-mode: darken;
			}
		}

		p {
			font-size: txt.$xxl;
			font-weight: txt.$bold;
			line-height: 24px;
			position: absolute;
			z-index: 5;
			top: 31px;
			left: 16px;
			color: clr.$secondary;
			@media screen and (min-width: $bp-lg) {
				font-size: txt.$xxl--desktop;
				position: relative;
				top: 0;
				left: 0;
			}
		}
	}

	//endregion

	//region Container
	.container {
		display: flex;
		align-items: center;
		flex-flow: wrap;
		flex-direction: column;
		justify-content: center;
		margin-block: 22px;
		gap: 20px;

		@media screen and (min-width: $bp-sm) {
			flex-direction: row;
			justify-content: center;
			gap: 60px;
			margin-block: 43px;
			//padding-block: 56px;
			padding-inline: 15px;
		}
		@media screen and (min-width: $bp-lg) {
			border-radius: $radius--desktop;
			background: clr.$gray-lighter;
			gap: 60px;
			//margin-block: 43px;
			padding-block: 56px;
			padding-inline: min(1%, 50px);
		}

		&__card {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 255px;
			border-radius: $radius;
			background: clr.$primary;

			@media screen and (min-width: $bp-sm) {
				$card--desktop: max(35vw, 255px);
				width: $card--desktop;
				height: $card--desktop;
			}
			@media screen and (min-width: $bp-lg) {
				$card--desktop: 340px;
				width: $card--desktop;
				height: $card--desktop;
			}

			.bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 50%;
				background: linear-gradient(
					180deg,
					rgba(255, 255, 255, 0) 0%,
					rgba(0, 0, 0, 0.5) 100%
				);
			}

			.title {
				font-size: txt.$xl;
				line-height: 26px;
				position: absolute;
				bottom: 15px;
				left: 20px;
				max-width: 24ch;
				color: clr.$secondary;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	//endregion
}

//endregion
//region Main-About
.main-about {
	@media screen and (min-width: $bp-lg) {
		margin-top: 63px;
	}

	//region Banner
	.banner {
		position: relative;
		overflow: hidden;
		height: 223px;
		border-radius: $radius;

		@media screen and (min-width: $bp-lg) {
			display: grid;
			//height: 223px;
			border-radius: $radius--desktop;
			place-content: center;
		}

		.bg {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-color: #000;
			background-image: url("/src/assets/about-banner-mobile.png");
			background-position: {
				x: center;
				y: 49%;
			}
			background-clip: border-box;
			background-origin: border-box;
			background-size: cover;

			@media screen and (min-width: $bp-sm) {
				background-image: url("/src/assets/about-banner-desktop.png");
				background-position: {
					x: center;
					y: 43.5%;
				}
			}

			&:before {
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				content: " ";
				opacity: 30%;
				background: #000; // todo regler le filtre
				//mix-blend-mode: darken;
			}
		}

		p {
			font-size: txt.$xxl;
			font-weight: txt.$bold;
			line-height: 24px;
			position: absolute;
			z-index: 5;
			top: 31px;
			left: 16px;
			color: clr.$secondary;
			@media screen and (min-width: $bp-lg) {
				font-size: txt.$xxl--desktop;
				position: relative;
				top: 0;
				left: 0;
			}
		}
	}

	//endregion

	//region Container
	.container {
		display: flex;
		align-items: center;
		flex-flow: wrap;
		flex-direction: column;
		justify-content: start;
		min-height: 60vh;
		margin-block: 22px;
		gap: 20px;

		@media screen and (min-width: $bp-sm) {
		}
		@media screen and (min-width: $bp-lg) {
			gap: 30px;
			padding-inline: 108px;
		}

		.collapse {
			position: relative;
			overflow: hidden;
			width: 100%;
			//height: 255px;
			//border-radius: $radius;

			&__header {
				position: relative;
				z-index: 2;
				display: flex;
				align-items: center;
				flex-flow: nowrap;
				flex-direction: row;
				justify-content: space-between;
				border-radius: 5px;
				background-color: clr.$primary;
				padding-inline: 11.5px 5px;
				padding-block: 6px;
				@media screen and (min-width: $bp-lg) {
					padding-inline: 12px 7px;
					padding-block: 8px;
					}
				&:hover{
					cursor: pointer;
					}

				h2 {
					font-size: txt.$md;
					font-weight: txt.$bold;
					color: clr.$secondary;
					@media screen and (min-width: $bp-lg) {
						font-size: txt.$lg--desktop;
					}
				}

				#arrow {
					transition: rotate 250ms 150ms ease;
					@media screen and (min-width: $bp-lg) {
						width: 24px;
						height: 24px;
						}
				}
			}

			&__content {
				z-index: 0;
				min-height: 146px;
				border-radius: 5px;
				background-color: clr.$gray-lighter;
				padding-block: 23px;
				padding-inline: 12px 6px;
				@media screen and (min-width: $bp-lg) {
					padding-inline: 17px 27px;
					padding-block: 36px 0 ;
					height: fit-content;
					}
				p {
					font-size: txt.$sm;
					font-weight: txt.$regular;
					line-height: 17px;
					letter-spacing: 0.2px;
					color: clr.$primary;

					@media screen and (min-width: $bp-lg) {
						font-size: txt.$lg--desktop;
						line-height: 34px;
					}
				}
			}
		}
	}

	//endregion
}

//endregion
//region Main-Error-404
.main-404 {
	display: flex;
	align-items: center;
	flex-flow: nowrap;
	flex-direction: column;
	gap: 133px;
	padding-block: min(40%, 200px);

	.message {
		display: flex;
		align-items: center;
		flex-flow: nowrap;
		flex-direction: column;
		gap: 11px;
	}

	h1 {
		font-size: txt.$huge;
		font-weight: txt.$bolder;
		width: fit-content;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	h2 {
		font-size: txt.$lg;
		font-weight: txt.$bold;
		line-height: 25px;
		text-align: center;
	}

	a {
		font-size: txt.$sm;
		font-weight: txt.$bold;
		text-align: center;
	}

	@media screen and (min-width: $bp-lg) {
		padding-top: 150px;
		gap: 150px;
		.message {
			gap: 50px;
		}
		h1 {
			font-size: txt.$huge--desktop;
		}

		h2 {
			font-size: txt.$xl--desktop;
		}

		a {
			font-size: txt.$md--desktop;
		}
	}
}

//endregion
