@import "./base/normalize.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(255, 96, 96);
  background: rgb(255, 255, 255);
}

.header,
.main,
.footer {
  animation: loadComponent 350ms ease-out both;
}

.main-home,
.main-about,
.main-logement,
.header {
  margin-inline: 20px;
}
@media screen and (min-width: 768px) {
  .main-home,
.main-about,
.main-logement,
.header {
    margin-inline: 50px;
  }
}
@media screen and (min-width: 1040px) {
  .main-home,
.main-about,
.main-logement,
.header {
    margin-inline: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .main-home,
.main-about,
.main-logement,
.header {
    max-width: 1440px;
    padding-inline: 100px;
    margin-inline: auto;
  }
}

.main-home,
.main-about,
.main-logement {
  margin-top: 27px;
}
@media screen and (min-width: 768px) {
  .main-home,
.main-about,
.main-logement {
    margin-top: 20px;
  }
}

.header {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .header {
    margin-top: 40px;
  }
}

a {
  text-decoration: underline;
  text-underline-offset: clamp(1px, 0.5vw, 4px);
}
@media screen and (min-width: 768px) {
  a {
    text-underline-offset: 4px;
  }
}
a:visited {
  color: rgb(255, 96, 96);
}

.responsive-line-break {
  display: block;
}
@media screen and (min-width: 768px) {
  .responsive-line-break {
    display: inline;
  }
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav__items {
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .header .nav__items {
    gap: 57px;
  }
}
.header .logo {
  width: clamp(147px, 2.3vw, 160px);
}
@media screen and (min-width: 768px) {
  .header .logo {
    width: 210px;
  }
}
.header .logo path {
  fill: rgb(255, 96, 96);
}
.header a {
  font-size: clamp(7px, 3.2vw, 12px);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 96, 96);
}
.header a.active {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .header a {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: none;
  }
}

@keyframes loadComponent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  display: flex;
  align-items: center;
  flex-flow: nowrap;
  flex-direction: column;
  height: 209px;
  background: rgb(0, 0, 0);
  gap: 30px;
  padding-block: 62px;
}
@media screen and (min-width: 1040px) {
  .footer {
    padding-block: 66px;
    gap: 47px;
  }
}
.footer p {
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .footer p {
    font-size: clamp(16px, 2.4vw, 24px);
  }
}
.footer .logo {
  width: 122px;
}
.footer .logo path {
  fill: rgb(255, 255, 255);
}

@media screen and (min-width: 1040px) {
  .main-home {
    margin-top: 63px;
  }
}
.main-home .banner {
  position: relative;
  overflow: hidden;
  height: 111px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .main-home .banner {
    display: grid;
    height: 223px;
    border-radius: 25px;
    place-content: center;
  }
}
.main-home .banner .bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("/src/assets/home-banner-mobile.png");
  background-position-x: center;
  background-position-y: 49%;
  background-clip: border-box;
  background-origin: border-box;
  background-size: cover;
}
@media screen and (min-width: 640px) {
  .main-home .banner .bg {
    background-image: url("/src/assets/home-banner-desktop.png");
    background-position-x: center;
    background-position-y: 43.5%;
  }
}
.main-home .banner .bg:before {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  opacity: 30%;
  background: #000;
}
.main-home .banner p {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  position: absolute;
  z-index: 5;
  top: 31px;
  left: 16px;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .main-home .banner p {
    font-size: clamp(24px, 3.3vw, 48px);
    position: relative;
    top: 0;
    left: 0;
  }
}
.main-home .container {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  margin-block: 22px;
  gap: 20px;
}
@media screen and (min-width: 640px) {
  .main-home .container {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-block: 43px;
    padding-inline: 15px;
  }
}
@media screen and (min-width: 1040px) {
  .main-home .container {
    border-radius: 25px;
    background: rgb(247, 247, 247);
    gap: 60px;
    padding-block: 56px;
    padding-inline: min(1%, 50px);
  }
}
.main-home .container__card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 255px;
  transition: all 150ms ease-in-out;
  border-radius: 10px;
}
.main-home .container__card:after {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, 50%, rgba(0, 0, 0, 0.4) 100%);
}
@media screen and (min-width: 640px) {
  .main-home .container__card {
    width: clamp(255px, 33vw, 340px);
    height: clamp(255px, 33vw, 340px);
  }
}
@media screen and (min-width: 1040px) {
  .main-home .container__card {
    width: 340px;
    height: 340px;
  }
}
.main-home .container__card img {
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: all 150ms 100ms ease-in-out;
  object-fit: cover;
}
.main-home .container__card .title {
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  z-index: 4;
  bottom: 15px;
  left: 20px;
  max-width: 22ch;
  margin-right: 1ch;
  transition: all 150ms 100ms ease-in-out;
  color: rgb(255, 255, 255);
}
.main-home .container__card:hover {
  cursor: pointer;
  border-radius: 15px;
  scale: 102%;
}
.main-home .container__card:hover img {
  scale: 110%;
  filter: grayscale(90%);
}
.main-home .container__card:hover .title {
  font-weight: 500;
  scale: 102%;
}

@media screen and (min-width: 1040px) {
  .main-about {
    margin-top: 63px;
  }
}
.main-about .banner {
  position: relative;
  overflow: hidden;
  height: 223px;
  border-radius: 10px;
}
@media screen and (min-width: 1040px) {
  .main-about .banner {
    display: grid;
    border-radius: 25px;
    place-content: center;
  }
}
.main-about .banner .bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("/src/assets/about-banner-mobile.png");
  background-position-x: center;
  background-position-y: 49%;
  background-clip: border-box;
  background-origin: border-box;
  background-size: cover;
}
@media screen and (min-width: 640px) {
  .main-about .banner .bg {
    background-image: url("/src/assets/about-banner-desktop.png");
    background-position-x: center;
    background-position-y: 43.5%;
  }
}
.main-about .banner .bg:before {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  opacity: 30%;
  background: #000;
}
.main-about .container {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: start;
  min-height: 60vh;
  margin-block: 22px;
  gap: 20px;
}
@media screen and (min-width: 1040px) {
  .main-about .container {
    gap: 30px;
    padding-inline: 108px;
  }
}
.main-about .container .collapse {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.main-about .container .collapse__header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(255, 96, 96);
  padding-inline: 11.5px 5px;
  padding-block: 6px;
}
@media screen and (min-width: 1040px) {
  .main-about .container .collapse__header {
    padding-inline: 12px 7px;
    padding-block: 8px;
  }
}
.main-about .container .collapse__header:hover {
  cursor: pointer;
}
.main-about .container .collapse__header h2 {
  font-size: 13px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .main-about .container .collapse__header h2 {
    font-size: clamp(13px, 1.9vw, 24px);
  }
}
.main-about .container .collapse__header #arrow {
  width: clamp(18px, 2vw, 28px);
  height: clamp(18px, 2vw, 28px);
  transition: rotate 250ms 150ms ease;
}
.main-about .container .collapse__content {
  z-index: 0;
  min-height: 146px;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  padding-block: 23px;
  padding-inline: 12px 6px;
}
@media screen and (min-width: 1040px) {
  .main-about .container .collapse__content {
    height: fit-content;
    padding-inline: 17px 27px;
    padding-block: 36px 0;
  }
}
.main-about .container .collapse__content p {
  font-size: clamp(7px, 3.2vw, 12px);
  font-weight: 400;
  line-height: clamp(14px, 3.5vw, 18px);
  letter-spacing: 0.2px;
  color: rgb(255, 96, 96);
}
@media screen and (min-width: 640px) {
  .main-about .container .collapse__content p {
    font-size: clamp(12px, 2.2vw, 16px);
    line-height: clamp(16px, 3.3vw, 24px);
  }
}
@media screen and (min-width: 768px) {
  .main-about .container .collapse__content p {
    font-size: clamp(16px, 1.9vw, 24px);
    line-height: clamp(15px, 3vw, 34px);
  }
}

.main-logement .carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 255px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .main-logement .carousel {
    height: 415px;
    border-radius: 25px;
  }
}
.main-logement .carousel__container {
  height: 100%;
}
.main-logement .carousel__container__picture {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 55%;
}
.main-logement .carousel__container__picture::selection {
  user-select: none;
}
.main-logement .carousel__arrow {
  position: absolute;
  z-index: 5;
  top: 40%;
  width: var(--clamp);
  height: var(--clamp);
  transition: all 125ms 30ms ease-in-out, border-radius 150ms 30ms ease-in-out;
  border-radius: 15px;
  --sizeMax: 120px;
  --sizeMin: 24px;
  --clamp: clamp(var(--sizeMin), 8.5vw, var(--sizeMax));
}
.main-logement .carousel__arrow:hover {
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.2);
  scale: 1.1;
}
.main-logement .carousel__arrow:active {
  border-radius: 45%;
  scale: 0.9;
}
.main-logement .carousel__arrow--left {
  left: 10px;
}
.main-logement .carousel__arrow--right {
  right: 10px;
}
.main-logement .container {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: start;
  min-height: 60vh;
  margin-block: 10px 5px;
}
@media screen and (min-width: 1040px) {
  .main-logement .container {
    align-items: start;
    flex-direction: column;
    margin-block: 40px;
    gap: 24px;
  }
}
.main-logement .container .header {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 640px) {
  .main-logement .container .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.main-logement .container .header__title {
  display: flex;
  align-items: start;
  flex-direction: column;
}
@media screen and (min-width: 1040px) {
  .main-logement .container .header__title {
    gap: 18px;
  }
}
.main-logement .container .header h2,
.main-logement .container .header h3 {
  font-weight: 400;
  text-align: left;
}
.main-logement .container .header h2 {
  font-size: clamp(12px, 5vw, 18px);
  line-height: 25px;
  margin-bottom: 8px;
}
@media screen and (min-width: 640px) {
  .main-logement .container .header h2 {
    font-size: clamp(18px, 2.5vw, 36px);
  }
}
.main-logement .container .header h3 {
  font-size: clamp(9px, 4vw, 14px);
  margin-bottom: clamp(12px, 3vw, 20px);
}
@media screen and (min-width: 640px) {
  .main-logement .container .header h3 {
    font-size: clamp(14px, 2.5vw, 18px);
  }
}
@media screen and (min-width: 1040px) {
  .main-logement .container .header h3 {
    margin: 0;
  }
}
.main-logement .container .header .tags {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  flex-direction: row;
  gap: 10px;
}
.main-logement .container .header .tag {
  display: grid;
  box-sizing: content-box;
  min-width: 84px;
  max-width: max-content;
  height: clamp(18px, 4vw, 25px);
  color: rgb(255, 255, 255);
  border-radius: clamp(5px, 1.4vw, 10px);
  background: rgb(255, 96, 96);
  place-content: center;
}
.main-logement .container .header .tag p {
  font-size: clamp(6px, 2.5vw, 14px);
  font-weight: 400;
  width: fit-content;
  text-align: center;
  padding-block: 5px 3px;
  padding-inline: 20px;
}
.main-logement .container .header__aside {
  display: flex;
  align-items: center;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 16px;
}
@media screen and (min-width: 640px) {
  .main-logement .container .header__aside {
    flex-flow: column wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1040px) {
  .main-logement .container .header__aside {
    justify-content: start;
    margin-block: 0;
    gap: 13px;
  }
}
.main-logement .container .header__aside .owner {
  display: flex;
  align-items: stretch;
  flex-flow: nowrap;
  flex-direction: row;
  gap: 10px;
}
.main-logement .container .header__aside .owner p {
  font-size: clamp(8px, 3.1vw, 12px);
  font-weight: 400;
  display: flex;
  align-items: stretch;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 2px;
}
@media screen and (min-width: 1040px) {
  .main-logement .container .header__aside .owner p {
    margin-block: 6px;
  }
}
.main-logement .container .header__aside .owner p span {
  display: block;
  text-align: right;
}
.main-logement .container .header__aside .owner .picture {
  width: clamp(28px, 8.9vw, 64px);
  height: clamp(28px, 8.9vw, 64px);
  border-radius: 100%;
}
@media screen and (min-width: 640px) {
  .main-logement .container .header__aside .owner {
    gap: 11px;
  }
  .main-logement .container .header__aside .owner p {
    font-size: clamp(12px, 2.3vw, 18px);
  }
}
.main-logement .container .header__aside .ratings {
  display: flex;
  flex-flow: nowrap;
  order: -1;
  gap: 5px;
}
@media screen and (min-width: 640px) {
  .main-logement .container .header__aside .ratings {
    order: 0;
  }
}
.main-logement .container .header__aside .ratings .star {
  width: clamp(16px, 2vw, 30px);
  height: clamp(16px, 2vw, 30px);
}
.main-logement .container .header__aside .ratings .full {
  fill: rgb(255, 96, 96);
}
.main-logement .container .header__aside .ratings .empty {
  fill: rgb(227, 227, 227);
}
.main-logement .container .content {
  width: 100%;
}
@media screen and (min-width: 1040px) {
  .main-logement .container .content {
    display: flex;
    flex-flow: nowrap;
    gap: 76px;
  }
}
.main-logement .container .collapse {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
.main-logement .container .collapse__header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(255, 96, 96);
  padding-inline: 11.5px 5px;
  padding-block: 6px;
}
@media screen and (min-width: 1040px) {
  .main-logement .container .collapse__header {
    border-radius: 10px;
    padding-inline: 20px 7px;
    padding-block: 13px;
  }
}
.main-logement .container .collapse__header:hover {
  cursor: pointer;
}
.main-logement .container .collapse__header h2 {
  font-size: 13px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 1040px) {
  .main-logement .container .collapse__header h2 {
    font-size: 18px;
  }
}
.main-logement .container .collapse__header #arrow {
  transition: rotate 250ms 150ms ease;
}
@media screen and (min-width: 1040px) {
  .main-logement .container .collapse__header #arrow {
    width: 24px;
    height: 24px;
  }
}
.main-logement .container .collapse__content {
  z-index: 0;
  min-height: 146px;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  padding-block: 23px;
  padding-inline: 12px 6px;
}
@media screen and (min-width: 1040px) {
  .main-logement .container .collapse__content {
    min-height: 250px;
    padding-inline: 17px 27px;
    padding-block: 36px 0;
  }
}
.main-logement .container .collapse__content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: rgb(255, 96, 96);
}
@media screen and (min-width: 1040px) {
  .main-logement .container .collapse__content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

.main-404 {
  display: flex;
  align-items: center;
  flex-flow: nowrap;
  flex-direction: column;
  gap: 133px;
  padding-block: min(40%, 200px);
}
.main-404 .message {
  display: flex;
  align-items: center;
  flex-flow: nowrap;
  flex-direction: column;
  gap: 11px;
}
.main-404 h1 {
  font-size: clamp(96px, 20vw, 288px);
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-404 h2 {
  font-size: clamp(18px, 2.5vw, 36px);
  font-weight: 500;
  line-height: 25px;
  text-align: center;
}
.main-404 a {
  font-size: clamp(12px, 1.7vw, 18px);
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 1040px) {
  .main-404 {
    padding-top: 150px;
    gap: 150px;
  }
}

/*# sourceMappingURL=main.css.map */
